*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

body {
  color: #e2e8f0;
  background-color: #1a202c;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.2rem;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background-color: inherit;
}

input[type="text"] {
  width: 100%;
  padding: 0 8px;
  border: 1px solid #a0aec0;
  border-radius: 5px;
}

select {
  padding: 0 4px;
  border: 1px solid #a0aec0;
  border-radius: 5px;
}

option {
  background-color: #1a202c;
  border: none;
  outline: none;
}

.container {
  margin: auto;
  max-width: fit-content;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: center;
}

.panel {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  width: 100%;
  background-color: #2d3748;
  border-radius: 20px;
  box-shadow: 10px 10px 20px #171923;
}

.panel-title {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
}

.reset {
  margin-bottom: 10px;
  color: #718096;
  border: none;
  cursor: pointer;
}

.form {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 10px 30px;
}

.field-title {
  justify-self: end;
  font-weight: 600;
}

.field-content {
  width: 100%;
  justify-self: start;
}

.result-list {
  padding-left: 30px;
}
